<div class="my_page_contents">
  <h2>ユーザー編集</h2>

  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(変更希望がなければ空欄でも可能です)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %>文字以上</em>
     <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %> <i>(変更を反映するには必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <%= f.submit "更新", class:"actions" %>
  
  <% end %>

  <h3>アカウント削除</h3>

  <p><%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にいいですか?" }, method: :delete,class: "actions" %></p>

</div>

<% if @user.errors.any? %>
  <%= javascript_pack_tag 'users/edit_render' %>
<% end %>