<div class="post-wrapper">
  <div class="box B_2"> 
    <h2>ユーザー詳細</h2>
    <p>いいねしている投稿</p>
    <% @user.liked_posts.each do |post| %>
      <p>タイトル:&ensp;<%= link_to post.title, post_path(post) %></p>
    <% end %>
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>ユーザーネーム:&ensp;<%= @user.username %><br></p>
    <p>プロフィール:<br><%= @user.profile %></p>
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <% @user.posts.each do |post| %>
      <p>タイトル:&ensp;<%= post.title %></p><br>
      <p>レビュー:&ensp;<%= post.content %></p><br>
      <p>投稿日:&ensp;<%= post.created_at.to_s(:datetime_jp) %></p><br>
      <p>投稿者:&ensp;<%= link_to post.user.username, user_path(post.user_id) %></p><br>
  
    <span id= "user-post-like-button-<%= post.id %>"> 
      <%= render 'likes/user_posts', post: post %>
    </span>
    <% end %>
    <%= paginate @posts %>

   
    
  </div>
</div>