<div class="post-wrapper">
  <div class="box B_2"> 
    <div id="flash_messages">
      <% flash.each do |type, message| %>
        <p><% type %> <%= message %></p>
      <% end %>
    </div>
    <h2>ユーザー詳細</h2>
    <% if user_signed_in? && current_user != @user %> 
      <div id= "follow-form-<%= @user.id %>">
        <%= render 'relationships/follow_button', user: @user %>
      </div>
    <% end %>
    <p>いいねしている投稿</p>
    <% @user.liked_posts.each do |post| %>
      <p>店名:&ensp;<%= link_to post.title, post_path(post) %></p>
    <% end %>
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>ユーザーネーム:&ensp;<%= @user.username %><br></p>
    <p>プロフィール:<br><%= @user.profile %></p>
    <% if user_logged_in? && current_user.admin?%>
      <p><%= button_to "アカウント削除", user_admin_user_path(@user), data: { confirm: "本当にいいですか?" }, method: :delete,class: "actions" %></p>
    <% end %>
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <h3>ユーザー投稿一覧</h3>
    <% @user.posts.order(created_at: :desc).each do |post| %>
      <span id= "user-post-like-button-<%= post.id %>"> 
        <%= render 'likes/user_posts', post: post, user: @user %>
      </span>
    <% end %>
    
    <%= paginate @posts %>
  </div>
</div>