<div class="registration_contents">
  <h2>パスワードを忘れた場合</h2>

  <%= form_with model: @user, url: user_password_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
      
      <%= f.submit "パスワードリセットメールを送信", class: "actions" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

<% if @user.errors.any? %>
  <%= javascript_pack_tag 'users/password_render' %>
<% end %>