<div class="registration_contents">
  <%= form_with model: @post do |f| %>
    <%= f.label :店名 %>
    <%= f.text_field :title %>

    <%= f.label :レビュー %>
    <%= f.text_area :content, size: "50x20"%>

    <%= f.label :genre_id, "価格帯" %>
    <%= f.select :genre_id, [['~1500円',1 ], ['1500円~', 2]], { include_blank: true}, {class: "genre_tag"} %>

    <%= f.submit "投稿", class: "actions"  %>
  <% end %>
</div>

<% if @post.errors.any? %>
  <%= javascript_pack_tag 'posts/new' %>
<% end %>
