<div class="post-wrapper">
  <div class="box B_2"> 
    <%= form_with url: search_posts_path, method: :get, class: 'search_form' do |f| %>
      <span>検索ワード</span><%= f.text_field :search %>
      <span>価格帯</span><%= f.select :genre_id, [['~1500円', 1], ['1500円~', 2]], {include_blank: true} %>
      <%= f.submit :検索, name:'button', class: 'btn btn-primary' %>
    <% end %>

    <% if params[:button] %>
      <% if @posts == Post.all.order("created_at DESC").page(params[:page]).per(10) %>
        <p>検索条件が指定されていません、全投稿を表示します。</p>
        <%= render 'posts_index' %>
      <% else %>
        <p>検索結果</p>
        <%= render 'posts_index' %>
      <% end %>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>




  


  
  
  
 

