<div class="post-wrapper">
  <div class="box B_2"> 
    <p>タイトル:&ensp;<%= @post.title %></p><br>
    <p>レビュー:&ensp;<%= @post.content %></p><br>
    <p>投稿日:&ensp;<%= @post.created_at.to_s(:datetime_jp) %></p><br>
    <p>いいね件数:&ensp;<%= @post.likes.count %></p>
    <p>いいねしたユーザー</p>
    <% @post.liked_users.each do |user| %>
      <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
    <% if current_user.already_liked?(@post) %>
      <%= button_to  post_like_path(@post), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= button_to  post_likes_path(@post) do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <p>--------------------------------------------------------------------------------------------------------------------------------------------------------</p>
  </div>
</div>

  
     
       