<!DOCTYPE html>
<html>
  <head>
    <title>FoodTakeoutMap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/405e50b825.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% if user_signed_in? %> 
                <li class="nav-item">
                  <strong><%= current_user.username %>としてログイン中です</strong>
                  <%= link_to "マイページ", edit_user_registration_path, class: "nav-link active" %> 
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active" %> 
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "サインアップ", new_user_registration_path, class: "nav-link active" %> 
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link active" %> 
                </li>
              <% end %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><%= link_to "検索", search_posts_path, class: "dropdown-item" %></li>
                    <li><%= link_to "一覧", posts_path, class: "dropdown-item" %></li>
                    <li><%= link_to "投稿する", new_post_path, class: "dropdown-item" %></li>
                    <li><%= link_to "マイ投稿", my_post_post_path(current_user), class: "dropdown-item" if user_signed_in? %></li> 
                  </ul>
                </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>